<h1>Add a shoe!</h1>
  <form action="/add_shoe" method="post">
    <label for ="shoe_name">Shoe Name</label>
    <input type="text" name="shoe_name" id="shoe_name" />
    <label for ="shoe_name">Price</label>
    <input type="text" name="price" id="price" />
    <button type="submit">Add</button>
  </form>