<h1>Add a shoe!</h1>
  <form action="/add_shoe">
    <label for ="brand_name">Shoe Name</label>
    <input type="text" name="brand_name" id="brand_name" />
    <label for ="brand_name">Price</label>
    <input type="text" name="price" id="price" />
    <button type="submit">Add</button>
  </form>