<h1>List of Shoes:</h1>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Shoe Name</th>
      <th>Price</th>
      <th>List Of Stores</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><a href="/brands" target="_blank">Flip Flops</a></td>
      <td><a href="url" target="_blank">Price</a></td>
      <td><a href="url" target="_blank">List Of Stores</a></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><a href="/brands" target="_blank">Vans</a></td>
      <td><a href="url" target="_blank">Price</a></td>
      <td><a href="url" target="_blank">List Of Stores</a></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><a href="/brands" target="_blank">Crocks</a></td>
      <td><a href="url" target="_blank">Price</a></td>
      <td><a href="url" target="_blank">List Of Stores</a></td>
    </tr>
  </tbody>
</table>
