<div class="container">
  <h1>Add/Update store!</h1>
  <form action="/edit_store" method="post">
    <label for ="store_name">Store Name</label>
    <input type="hidden" name="store_id" id="store_id" value="<%=@store.id%>"/>
    <input type="text" name="store_name" id="store_name" value="<%=@store.name%>"/>
    <button type="submit">Save</button>
  </form>
</div>
