<h1>Walmart has these shoes for these prices:</h1>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Shoe Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Flip Flops</td>
      <td>Price</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Vans</td>
      <td>Price</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Crocks</td>
      <td>Price</td>
    </tr>
  </tbody>
</table>


<form action="/add_shoes_to_store">
<fieldset>

  <legend>Add existing shoes to this store:</legend>
  <div>
    <input type="checkbox" id="shoes" name="shoes" value="1234">
    <label for="coding">Nike $195.00</label>
  </div>
  <div>
    <input type="checkbox" id="shoes" name="shoes" value="1234">
    <label for="music">Rebook $200.00</label>
  </div>
  <button class="btn btn-primary" type="submit">Add</button>
</fieldset>
</form>



