<h1>Walmart has these shoes for these prices:</h1>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Shoe Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Flip Flops</td>
      <td>Price</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Vans</td>
      <td>Price</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Crocks</td>
      <td>Price</td>
    </tr>
  </tbody>
</table>


<form action="/add_shoes_to_store">
<fieldset>

  <legend>Add existing shoes to this store:</legend>

  <% if @shoes.any? %>
      <% @shoes.each do |shoe| %>
          <div>
            <input type="checkbox" id="shoe_id" name="shoes" value="<%=shoe.id%>">
            <label for="coding"><%=shoe.name%> <%=shoe.price%></label>
          </div>

      <% end %>
      <button class="btn btn-primary" type="submit">Add</button>
  <% else %>
      <div>
        There are currently no shoes
      </div>

  <% end %>



</fieldset>
</form>



