<h1>List of Shoes:</h1>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Shoe Name</th>
      <th>Price</th>
      <th>List Of Stores</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><a href="/brands"  >Flip Flops</a></td>
      <td>$40.00</td>
      <td><a href="url"  >List Of Stores</a></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><a href="/brands"  >Vans</a></td>
      <td>$45.00</td>
      <td><a href="url"  >List Of Stores</a></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><a href="/brands"  >Crocks</a></td>
      <td>$50.00</td>
      <td><a href="url"  >List Of Stores</a></td>
    </tr>
  </tbody>
</table>
