<h1>List of Stores:</h1>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Store Name</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><a href="/edit_store" ><i class="fa fa-edit"></i></a>  <a href="/individual_store" >Walmart</a></td>
      <td><a href="#" ><i class="fa fa-trash"></i></a></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><a href="/edit_store" ><i class="fa fa-edit"></i></a>  <a href="/stores" >Fred Meyer</a></td>
      <td><a href="#" ><i class="fa fa-trash"></i></a></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><a href="/edit_store" ><i class="fa fa-edit"></i></a>  <a href="/stores" >Ross</a></td>
      <td><a href="#" ><i class="fa fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>
<legend>Add a new store</legend>
<a class="btn btn-primary" href="/edit_store">Add a new Store</a>
