<h1>List of Stores:</h1>



<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Store Name</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% if @stores.any? %>
      <% @stores.each do |store| %>
          <tr>
            <th scope="row"></th>
            <td><a href="/edit_store/<%=store.id%>" ><i class="fa fa-edit"></i></a>  <a href="/individual_store" ><%=store.name%></a></td>
            <td><a href="/delete_store/<%=store.id%>" ><i class="fa fa-trash"></i></a></td>
          </tr>
      <% end %>
  <% else %>

        <tr>
          <th scope="row"></th>
          <td><p>There are currently no stores.</p></td><td></td></tr>
  <% end %>
  </tbody>
</table>
<legend>Add a new store</legend>
<a class="btn btn-primary" href="/add_store">Add a new Store</a>
