<h1>List of Stores:</h1>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Store Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Store_Name_1</td>
    </tr>
  </tbody>
</table>
